<aside class="pb-3 px-9 flex flex-col w-full h-screen  justify-between  border-r bg-white transition duration-300">

  <div class="w-full">
    <div class="-mx-6 px-6 py-4">
      <a [routerLink]="['/']" title="home">
        <img src="assets/inno-tour.jpeg" class="w-32" alt="touri-touri">
      </a>
    </div>

    <div class="mt-8 text-center">
      <img src="{{user.profile_picture}}" alt="" class="w-10 h-10 m-auto rounded-full object-cover lg:w-28 lg:h-28">
      <h5 class="hidden mt-4 text-xl font-semibold text-gray-600 lg:block">{{user.full_name}}</h5>
      <span class="hidden text-gray-400 lg:block">Admin</span>
    </div>

    <ul class="space-y-2 tracking-wide mt-8">
      <li>
        <a [routerLink]="['home']" [routerLinkActive]="'active'" (click)="navigationService.currentItemSideBarName='Tableau de bord'" aria-label="dashboard" class="relative px-4 py-3 flex items-center space-x-4 rounded-xl text-gray-600 group">
          <svg class="-ml-1 h-6 w-6" viewBox="0 0 24 24" fill="none">
            <path d="M6 8a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2H8a2 2 0 0 1-2-2V8ZM6 15a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2H8a2 2 0 0 1-2-2v-1Z" class="fill-current text-cyan-400 dark:fill-slate-600"></path>
            <path d="M13 8a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2V8Z" class="fill-current text-cyan-200 group-hover:text-cyan-300"></path>
            <path d="M13 15a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2v-1Z" class="fill-current group-hover:text-sky-300"></path>
          </svg>
          <span class="-mr-1 font-medium">Tableau de bord</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['user']" [routerLinkActive]="'active'" (click)="navigationService.currentItemSideBarName='Utilisateurs'" class="relative px-4 py-3 flex items-center space-x-4 rounded-xl text-gray-600 group">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="currentColor" width="32" height="32" viewBox="0 0 20 20">
            <path class="fill-current text-gray-300 group-hover:text-cyan-300" fill="currentColor" d="M10 9.25c-2.27 0-2.73-3.44-2.73-3.44C7 4.02 7.82 2 9.97 2c2.16 0 2.98 2.02 2.71 3.81c0 0-.41 3.44-2.68 3.44zm0 2.57L12.72 10c2.39 0 4.52 2.33 4.52 4.53v2.49s-3.65 1.13-7.24 1.13c-3.65 0-7.24-1.13-7.24-1.13v-2.49c0-2.25 1.94-4.48 4.47-4.48z"/>
          </svg>
          <span class="group-hover:text-gray-700">Utilisateurs</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['departement']" [routerLinkActive]="'active'" (click)="navigationService.currentItemSideBarName='Départements'" class="px-4 py-3 flex items-center space-x-4 rounded-md text-gray-600 group">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path class="fill-current text-gray-600 group-hover:text-cyan-600" fill-rule="evenodd" d="M2 5a2 2 0 012-2h8a2 2 0 012 2v10a2 2 0 002 2H4a2 2 0 01-2-2V5zm3 1h6v4H5V6zm6 6H5v2h6v-2z" clip-rule="evenodd" />
            <path class="fill-current text-gray-300 group-hover:text-cyan-300" d="M15 7h1a2 2 0 012 2v5.5a1.5 1.5 0 01-3 0V7z" />
          </svg>

          <span class="group-hover:text-gray-700">Departements</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['site']" [routerLinkActive]="'active'" (click)="navigationService.currentItemSideBarName='Sites'" class="px-4 py-3 flex items-center space-x-4 rounded-md text-gray-600 group">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path class="fill-current text-gray-600 group-hover:text-cyan-600" d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z" />
            <path class="fill-current text-gray-300 group-hover:text-cyan-300" d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z" />
          </svg>
          <span class="group-hover:text-gray-700">Sites</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['reservation']" [routerLinkActive]="'active'" (click)="navigationService.currentItemSideBarName='Réservations'" class="px-4 py-3 flex items-center space-x-4 rounded-md text-gray-600 group">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path class="fill-current text-gray-300 group-hover:text-cyan-300" d="M4 4a2 2 0 00-2 2v1h16V6a2 2 0 00-2-2H4z" />
            <path class="fill-current text-gray-600 group-hover:text-cyan-600" fill-rule="evenodd" d="M18 9H2v5a2 2 0 002 2h12a2 2 0 002-2V9zM4 13a1 1 0 011-1h1a1 1 0 110 2H5a1 1 0 01-1-1zm5-1a1 1 0 100 2h1a1 1 0 100-2H9z" clip-rule="evenodd" />
          </svg>
          <span class="group-hover:text-gray-700">Reservations</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['others']" [routerLinkActive]="'active'" (click)="navigationService.currentItemSideBarName='Autres'" class="px-4 py-3 flex items-center space-x-4 rounded-md text-gray-600 group">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path class="fill-current text-gray-300 group-hover:text-cyan-300" d="M4 4a2 2 0 00-2 2v1h16V6a2 2 0 00-2-2H4z" />
            <path class="fill-current text-gray-600 group-hover:text-cyan-600" fill-rule="evenodd" d="M18 9H2v5a2 2 0 002 2h12a2 2 0 002-2V9zM4 13a1 1 0 011-1h1a1 1 0 110 2H5a1 1 0 01-1-1zm5-1a1 1 0 100 2h1a1 1 0 100-2H9z" clip-rule="evenodd" />
          </svg>
          <span class="group-hover:text-gray-700">Autres</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="px-6 -mx-6 pt-4 flex justify-between items-center border-t">
    <button class="px-4 py-3 flex items-center space-x-4 rounded-md text-gray-600 group" (click)="logout()">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
      </svg>
      <span class="group-hover:text-gray-700">Logout</span>
    </button>
  </div>
</aside>
