<aside class="flex flex-col justify-between w-full h-screen pb-3 transition duration-300 bg-white border-r px-9">

  <div class="w-full">
    <div class="px-6 py-4 -mx-6">
      <a [routerLink]="['home']" title="home">
        <img src="assets/inno-tour.jpeg" class="w-32" alt="touri-touri">
      </a>
    </div>

    <a [routerLink]="['profile']" class="mt-8 text-center">
      <img src="{{user.profile_picture}}" alt="" class="object-cover w-10 h-10 m-auto rounded-full shadow-md lg:w-28 lg:h-28">
      <h5 class="hidden mt-4 text-xl font-semibold text-gray-600 lg:block">{{user.full_name}}</h5>
      <span class="hidden text-gray-400 lg:block">Admin</span>
    </a>

    <ul class="mt-8 space-y-2 tracking-wide">
      <li>
        <a [routerLink]="['home']" [routerLinkActive]="'active'" (click)="navigationService.currentItemSideBarName='Tableau de bord'" aria-label="dashboard" class="relative flex items-center px-4 py-3 space-x-4 text-gray-600 rounded-xl group">
          <svg class="w-6 h-6 -ml-1" viewBox="0 0 24 24" fill="none">
            <path d="M6 8a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2H8a2 2 0 0 1-2-2V8ZM6 15a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2H8a2 2 0 0 1-2-2v-1Z" class="fill-current text-cyan-400 dark:fill-slate-600"></path>
            <path d="M13 8a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2V8Z" class="fill-current text-cyan-200 group-hover:text-cyan-300"></path>
            <path d="M13 15a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2v-1Z" class="fill-current group-hover:text-sky-300"></path>
          </svg>
          <span class="-mr-1 font-medium">Tableau de bord</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['user']" [routerLinkActive]="'active'" (click)="navigationService.currentItemSideBarName='Utilisateurs'" class="relative flex items-center px-4 py-3 space-x-4 text-gray-600 rounded-xl group">
          <svg class="w-6 h-6 -ml-1" viewBox="0 0 24 24" fill="none">
            <path d="M6 8a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2H8a2 2 0 0 1-2-2V8ZM6 15a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2H8a2 2 0 0 1-2-2v-1Z" class="fill-current text-cyan-400 dark:fill-slate-600"></path>
            <path d="M13 8a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2V8Z" class="fill-current text-cyan-200 group-hover:text-cyan-300"></path>
            <path d="M13 15a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2v-1Z" class="fill-current group-hover:text-sky-300"></path>
          </svg>
          <span class="group-hover:text-gray-700">Utilisateurs</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['departement']" [routerLinkActive]="'active'" (click)="navigationService.currentItemSideBarName='Départements'" class="flex items-center px-4 py-3 space-x-4 text-gray-600 rounded-md group">
          <svg class="w-6 h-6 -ml-1" viewBox="0 0 24 24" fill="none">
            <path d="M6 8a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2H8a2 2 0 0 1-2-2V8ZM6 15a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2H8a2 2 0 0 1-2-2v-1Z" class="fill-current text-cyan-400 dark:fill-slate-600"></path>
            <path d="M13 8a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2V8Z" class="fill-current text-cyan-200 group-hover:text-cyan-300"></path>
            <path d="M13 15a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2v-1Z" class="fill-current group-hover:text-sky-300"></path>
          </svg>

          <span class="group-hover:text-gray-700">Departements</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['site']" [routerLinkActive]="'active'" (click)="navigationService.currentItemSideBarName='Sites'" class="flex items-center px-4 py-3 space-x-4 text-gray-600 rounded-md group">
          <svg class="w-6 h-6 -ml-1" viewBox="0 0 24 24" fill="none">
            <path d="M6 8a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2H8a2 2 0 0 1-2-2V8ZM6 15a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2H8a2 2 0 0 1-2-2v-1Z" class="fill-current text-cyan-400 dark:fill-slate-600"></path>
            <path d="M13 8a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2V8Z" class="fill-current text-cyan-200 group-hover:text-cyan-300"></path>
            <path d="M13 15a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2v-1Z" class="fill-current group-hover:text-sky-300"></path>
          </svg>
          <span class="group-hover:text-gray-700">Sites</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['reservation']" [routerLinkActive]="'active'" (click)="navigationService.currentItemSideBarName='Réservations'" class="flex items-center px-4 py-3 space-x-4 text-gray-600 rounded-md group">
          <svg class="w-6 h-6 -ml-1" viewBox="0 0 24 24" fill="none">
            <path d="M6 8a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2H8a2 2 0 0 1-2-2V8ZM6 15a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2H8a2 2 0 0 1-2-2v-1Z" class="fill-current text-cyan-400 dark:fill-slate-600"></path>
            <path d="M13 8a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2V8Z" class="fill-current text-cyan-200 group-hover:text-cyan-300"></path>
            <path d="M13 15a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2v-1Z" class="fill-current group-hover:text-sky-300"></path>
          </svg>
          <span class="group-hover:text-gray-700">Reservations</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['others']" [routerLinkActive]="'active'" (click)="navigationService.currentItemSideBarName='Autres'" class="flex items-center px-4 py-3 space-x-4 text-gray-600 rounded-md group">
          <svg class="w-6 h-6 -ml-1" viewBox="0 0 24 24" fill="none">
            <path d="M6 8a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2H8a2 2 0 0 1-2-2V8ZM6 15a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2H8a2 2 0 0 1-2-2v-1Z" class="fill-current text-cyan-400 dark:fill-slate-600"></path>
            <path d="M13 8a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2V8Z" class="fill-current text-cyan-200 group-hover:text-cyan-300"></path>
            <path d="M13 15a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2v-1Z" class="fill-current group-hover:text-sky-300"></path>
          </svg>
          <span class="group-hover:text-gray-700">Autres</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['profile']" [routerLinkActive]="'active'" (click)="navigationService.currentItemSideBarName='Autres'" class="flex items-center px-4 py-3 space-x-4 text-gray-600 rounded-md group">
          <svg class="w-6 h-6 -ml-1" viewBox="0 0 24 24" fill="none">
            <path d="M6 8a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2H8a2 2 0 0 1-2-2V8ZM6 15a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2H8a2 2 0 0 1-2-2v-1Z" class="fill-current text-cyan-400 dark:fill-slate-600"></path>
            <path d="M13 8a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2V8Z" class="fill-current text-cyan-200 group-hover:text-cyan-300"></path>
            <path d="M13 15a2 2 0 0 1 2-2h1a2 2 0 0 1 2 2v1a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2v-1Z" class="fill-current group-hover:text-sky-300"></path>
          </svg>
          <span class="group-hover:text-gray-700">Mon profile</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="flex items-center justify-between px-6 pt-4 -mx-6 border-t">
    <button class="flex items-center px-4 py-3 space-x-4 text-gray-600 rounded-md group hover:text-red-600" (click)="logout()">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
      </svg>
      <span class="group-hover:text-red-700">Se déconnecter</span>
    </button>
  </div>
</aside>
