<section class="container mx-auto">
  <form (ngSubmit)="onSubmit()" [formGroup]="siteForm" class="w-full flex flex-col items-center" enctype="multipart/form-data">
    <div class="w-full">
      <label for="name" class="sr-only">Nom</label>
      <input formControlName="name" [ngClass]="{'border-red-300 text-red-900 placeholder-red-500 focus:border-red-500':(name!.invalid && (name!.dirty || name!.touched))}" id="name" name="name" type="text"  class="relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" placeholder="name">
    </div>
    <div class="w-full">
      <label for="description" class="sr-only">Description</label>
      <input formControlName="description" [ngClass]="{'border-red-300 text-red-900 placeholder-red-500 focus:border-red-500':(description!.invalid && (description!.dirty || description!.touched))}" id="description" name="description" type="text"  class="relative block w-full appearance-none rounded-none border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" placeholder="description">
    </div>
    <div class="w-full">
      <label for="price" class="sr-only">Prix</label>
      <input formControlName="price" [ngClass]="{'border-red-300 text-red-900 placeholder-red-500 focus:border-red-500':(price!.invalid && (price!.dirty || price!.touched))}" id="price" name="description" type="text"  class="relative block w-full appearance-none rounded-none rounded-b-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" placeholder="price">
    </div>

    <div class=" my-5 w-full grid grid-cols-3 gap-2">

      <div class="w-full">
      <span class="p-float-label">
        <p-dropdown class="w-full" inputId="dropdown" [autoDisplayFirst]="false" [options]="departements" formControlName="departement_id" optionLabel="name" [ngClass]="{'border-red-300 text-red-900 placeholder-red-500 focus:border-red-500':(department!.invalid && (department!.dirty || department!.touched))}"></p-dropdown>
        <label for="dropdown">Selectionnez le departement</label>
      </span>
      </div>

      <div class="w-full">
        <p-multiSelect scrollHeight="250px" [options]="action=='add'?activites:activite?.value" [ngClass]="{'border-red-300 text-red-900 placeholder-red-500 focus:border-red-500':(activite!.invalid && (activite!.dirty || activite!.touched))}" formControlName="activite_id" defaultLabel="Selectionnez les activités" optionLabel="name" display="chip"></p-multiSelect>
      </div>

      <div class="w-full">
        <p-multiSelect scrollHeight="250px" [options]="action=='add'?medias:media?.value" [ngClass]="{'border-red-300 text-red-900 placeholder-red-500 focus:border-red-500':(media!.invalid && (media!.dirty || media!.touched))}" formControlName="media_id" defaultLabel="Select les medias" optionLabel="name" display="chip"></p-multiSelect>
      </div>

    </div>

    <button [disabled]="!siteForm.valid" type="submit" class="group relative my-5 flex w-1/2 justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
          <span class="absolute inset-y-0 left-0 flex items-center pl-3">
            <!-- Heroicon name: mini/lock-closed -->
            <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
            </svg>
          </span>
      <span *ngIf="action==='add'">Ajouter</span>
      <span *ngIf="action!=='add'">Modifier</span>
    </button>

  </form>
</section>
