<!-- component -->
<div class="flex flex-col  my-4 w-full space-y-6">
  <div class="px-5 mx-auto container align-middle">
    <div class="grid grid-cols gap-2 md:grid-cols-2">
      <div class="shadow rounded-lg py-3 px-5 bg-white cursor-pointer" (click)="goToAnotherPage('user')">
        <div class="flex flex-row justify-between items-center">
          <div>
            <h6 class="text-2xl">Utilisateurs</h6>
            <h4 class="text-black text-4xl font-bold text-left">{{(users$|async)?.data?.length}}</h4>
          </div>
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-12 w-12"
              fill="none"
              viewBox="0 0 24 24"
              stroke="#14B8A6"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M7 12l3-3 3 3 4-4M8 21l4-4 4 4M3 4h18M4 4h16v12a1 1 0 01-1 1H5a1 1 0 01-1-1V4z"
              />
            </svg>
          </div>
        </div>
        <div class="text-left flex flex-row justify-start items-center">
            <span class="mr-1">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="#14B8A6"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6"
                />
              </svg>
            </span>
          <p><span class="text-teal-500 font-bold">3%</span> in 7 days</p>
        </div>
      </div>
      <div class="shadow rounded-lg py-3 px-5 bg-white cursor-pointer" (click)="goToAnotherPage('activite')">
        <div class="flex flex-row justify-between items-center">
          <div>
            <h6 class="text-2xl">Activités</h6>
            <h4 class="text-black text-4xl font-bold text-left">{{(activites$|async)?.data?.length}}</h4>
          </div>
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-12 w-12"
              fill="none"
              viewBox="0 0 24 24"
              stroke="#EF4444"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M7 12l3-3 3 3 4-4M8 21l4-4 4 4M3 4h18M4 4h16v12a1 1 0 01-1 1H5a1 1 0 01-1-1V4z"
              />
            </svg>
          </div>
        </div>
        <div class="text-left flex flex-row justify-start items-center">
            <span class="mr-1">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="#EF4444"
                stroke-width="{2}"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M13 17h8m0 0V9m0 8l-8-8-4 4-6-6"
                />
              </svg>
            </span>
          <p><span class="text-red-500 font-bold">12%</span> in 7 days</p>
        </div>
      </div>
      <div class="shadow rounded-lg py-3 px-5 bg-white cursor-pointer" (click)="goToAnotherPage('departement')">
        <div class="flex flex-row justify-between items-center">
          <div>
            <h6 class="text-2xl">Départements</h6>
            <h4 class="text-black text-4xl font-bold text-left">{{(departement$|async)?.data?.length}}</h4>
          </div>
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-12 w-12"
              fill="none"
              viewBox="0 0 24 24"
              stroke="#EF4444"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M7 12l3-3 3 3 4-4M8 21l4-4 4 4M3 4h18M4 4h16v12a1 1 0 01-1 1H5a1 1 0 01-1-1V4z"
              />
            </svg>
          </div>
        </div>
        <div class="text-left flex flex-row justify-start items-center">
            <span class="mr-1">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="#EF4444"
                stroke-width="{2}"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M13 17h8m0 0V9m0 8l-8-8-4 4-6-6"
                />
              </svg>
            </span>
          <p><span class="text-red-500 font-bold">12%</span> in 7 days</p>
        </div>
      </div>
      <div class="shadow rounded-lg py-3 px-5 bg-white cursor-pointer" (click)="goToAnotherPage('reservation')">
        <div class="flex flex-row justify-between items-center">
          <div>
            <h6 class="text-2xl">Réservations</h6>
            <h4 class="text-black text-4xl font-bold text-left">{{(reservation$|async)?.data?.length}}</h4>
          </div>
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-12 w-12"
              fill="none"
              viewBox="0 0 24 24"
              stroke="#EF4444"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M7 12l3-3 3 3 4-4M8 21l4-4 4 4M3 4h18M4 4h16v12a1 1 0 01-1 1H5a1 1 0 01-1-1V4z"
              />
            </svg>
          </div>
        </div>
        <div class="text-left flex flex-row justify-start items-center">
            <span class="mr-1">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="#EF4444"
                stroke-width="{2}"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M13 17h8m0 0V9m0 8l-8-8-4 4-6-6"
                />
              </svg>
            </span>
          <p><span class="text-red-500 font-bold">12%</span> in 7 days</p>
        </div>
      </div>
      <div class="shadow rounded-lg py-3 px-5 bg-white cursor-pointer" (click)="goToAnotherPage('site')">
        <div class="flex flex-row justify-between items-center">
          <div>
            <h6 class="text-2xl">Sites</h6>
            <h4 class="text-black text-4xl font-bold text-left">{{(site$|async)?.data?.length}}</h4>
          </div>
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-12 w-12"
              fill="none"
              viewBox="0 0 24 24"
              stroke="#EF4444"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M7 12l3-3 3 3 4-4M8 21l4-4 4 4M3 4h18M4 4h16v12a1 1 0 01-1 1H5a1 1 0 01-1-1V4z"
              />
            </svg>
          </div>
        </div>
        <div class="text-left flex flex-row justify-start items-center">
            <span class="mr-1">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="#EF4444"
                stroke-width="{2}"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M13 17h8m0 0V9m0 8l-8-8-4 4-6-6"
                />
              </svg>
            </span>
          <p><span class="text-red-500 font-bold">12%</span> in 7 days</p>
        </div>
      </div>
      <div class="shadow rounded-lg py-3 px-5 bg-white cursor-pointer" (click)="goToAnotherPage('others')">
        <div class="flex flex-row justify-between items-center">
          <div>
            <h6 class="text-2xl">Médias</h6>
            <h4 class="text-black text-4xl font-bold text-left">{{(media$|async)?.data?.length}}</h4>
          </div>
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-12 w-12"
              fill="none"
              viewBox="0 0 24 24"
              stroke="#EF4444"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M7 12l3-3 3 3 4-4M8 21l4-4 4 4M3 4h18M4 4h16v12a1 1 0 01-1 1H5a1 1 0 01-1-1V4z"
              />
            </svg>
          </div>
        </div>
        <div class="text-left flex flex-row justify-start items-center">
            <span class="mr-1">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="#EF4444"
                stroke-width="{2}"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M13 17h8m0 0V9m0 8l-8-8-4 4-6-6"
                />
              </svg>
            </span>
          <p><span class="text-red-500 font-bold">12%</span> in 7 days</p>
        </div>
      </div>
    </div>
  </div>

  <h2 class="mx-5 text-2xl text-gray-600 font-medium">Nos derniers enregistrements</h2>

  <div class="px-5 mx-auto container align-middle">

    <!-- Users component -->
    <div>
      <h2 class="my-4 flex flex-row justify-between items-center">
        <span class="text-center">Les utilisateurs</span>
        <a [routerLink]="['/dashboard','user']" class="border border-cyan-500 px-5 py-3 rounded">voir tous les utilisateurs </a>
      </h2>
      <div class="overflow-hidden rounded-lg border border-gray-200 shadow-md">
        <table class="w-full border-collapse bg-white text-left text-sm text-gray-500">
          <thead class="bg-gray-50">
          <tr>
            <th scope="col" class="px-6 py-4 font-medium text-gray-900">Nom</th>
            <th scope="col" class="px-6 py-4 font-medium text-gray-900">Tel</th>
          </tr>
          </thead>
          <tbody class="divide-y divide-gray-100 border-t border-gray-100">
          <tr class="hover:bg-gray-50" *ngFor="let user of users | filter : navigationService.currentSearchText : 'full_name'">
            <th class="flex gap-3 px-6 py-4 font-normal text-gray-900 cursor-pointer">
              <div class="relative h-10 w-10">
                <img class="h-full w-full rounded-full object-cover object-center"
                     src="{{user!.profile_picture}}"
                     alt="{{user!.full_name}}"/>
              </div>
              <div class="text-sm">
                <div class="font-medium text-gray-700">{{user.full_name}}</div>
                <div class="text-gray-400">{{user.email}}</div>
              </div>
            </th>
            <td class="px-6 py-4">{{user.phone}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Reservation component-->
    <div>
      <h2 class="my-4 flex flex-row justify-between items-center">
        <span class="text-center">Les reservations</span>
        <a [routerLink]="['/dashboard','reservation']" class="border border-cyan-500 px-5 py-3 rounded">voir toutes les reservations </a>
      </h2>
      <div class="overflow-hidden rounded-lg border border-gray-200 shadow-md">
        <table class="w-full border-collapse bg-white text-left text-sm text-gray-500">

          <thead class="bg-gray-50">
          <tr>
            <th scope="col" class="px-6 py-4 font-medium text-gray-900">Client</th>
            <th scope="col" class="px-6 py-4 font-medium text-gray-900">Site</th>
            <th scope="col" class="px-6 py-4 font-medium text-gray-900">Nb pers.</th>
            <th scope="col" class="px-6 py-4 font-medium text-gray-900">Prix</th>
            <th scope="col" class="px-6 py-4 font-medium text-gray-900">date départ</th>
            <th scope="col" class="px-6 py-4 font-medium text-gray-900">Status</th>
            <th scope="col" class="px-6 py-4 font-medium text-gray-900"></th>
          </tr>
          </thead>

          <tbody class="divide-y divide-gray-100 border-t border-gray-100">
          <tr class="hover:bg-gray-50" *ngFor="let reservation of reservations | filter : navigationService.currentSearchText : 'user':'full_name' ">
            <th class="flex gap-3 px-6 py-4 font-normal text-gray-900 cursor-pointer">
              <div class="relative h-10 w-10">
                <img
                  class="h-full w-full rounded-full object-cover object-center"
                  src="{{reservation.user.profile_picture}}"
                  alt="{{reservation.user.full_name}}"
                />
              </div>
              <div class="text-sm">
                <div class="font-medium text-gray-700">{{reservation.user.full_name}}</div>
                <div class="text-gray-400">{{reservation.user.email}}</div>
              </div>
            </th>
            <td class="px-6 py-4">{{reservation.site.name}}</td>
            <td class="px-6 py-4">{{reservation.nb_personnes}}</td>
            <td class="px-6 py-4">{{reservation.price| currency:'XAF'}}</td>
            <td class="px-6 py-4">{{reservation.site_date.date_|date:'dd-MM-YY'}}</td>
            <td class="px-6 py-4">
              <div class="flex gap-2">
                  <span [ngClass]="getClass(reservation.status)" class="inline-flex items-center gap-1 rounded-full bg-blue-50 px-2 py-1 text-xs font-semibold text-blue-600">
                    {{reservation.status}}
                  </span>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Site component-->

    <h2 class="my-4 flex flex-row justify-between items-center">
      <span class="text-center">Les sites</span>
      <a [routerLink]="['/dashboard','site']" class="border border-cyan-500 px-5 py-3 rounded">voir tous les sites</a>
    </h2>

    <div class="overflow-hidden rounded-lg border border-gray-200 shadow-md">
      <table class="w-full border-collapse bg-white text-left text-sm text-gray-500">
        <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="px-6 py-4 font-medium text-gray-900">Nom</th>
          <th scope="col" class="px-6 py-4 font-medium text-gray-900">Departement</th>
          <th scope="col" class="px-6 py-4 font-medium text-gray-900">Description</th>
          <th scope="col" class="px-6 py-4 font-medium text-gray-900">Prix</th>
        </tr>
        </thead>
        <tbody class="divide-y divide-gray-100 border-t border-gray-100">
        <tr class="hover:bg-gray-50" *ngFor="let site of sites | filter : navigationService.currentSearchText : 'name'">
          <th class="flex gap-3 px-6 py-4 font-normal text-gray-900 cursor-pointer">
            <div class="relative h-10 w-10">
              <img
                class="h-full w-full rounded-full object-cover object-center"
                src="{{site.medias.length >0?site.medias[0].path:'assets/inno-tour.jpeg'}}"
                alt="{{site.name}}"
              />
            </div>
            <div class="text-sm">
              <div class="font-medium text-gray-700">{{site.name}}</div>
            </div>
          </th>
          <td class="px-6 py-4">
            {{site.departement.name}}
          </td>
          <td class="px-6 py-4">{{site.description | truncate}}</td>
          <td class="px-6 py-4">
            <div class="flex gap-2">
              <span class="inline-flex items-center gap-1 rounded-full bg-violet-50 px-2 py-1 text-xs font-semibold text-violet-600">
              {{site.price| currency:'XAF'}}
              </span>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
