<header class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" [routerLink]="['']">
      <span class="ml-3 text-xl">Touri-Touri</span>
    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <a class="mr-5 hover:text-gray-900" routerLinkActive="active" [routerLink]="['']">Accueil</a>
      <a class="mr-5 hover:text-gray-900" routerLinkActive="active" [routerLink]="['user']">Utilisateurs</a>
      <a class="mr-5 hover:text-gray-900" routerLinkActive="active" [routerLink]="['departement']">Departement</a>
      <a class="mr-5 hover:text-gray-900" routerLinkActive="active" [routerLink]="['site']">Site</a>
      <a class="mr-5 hover:text-gray-900" routerLinkActive="active" [routerLink]="['activite']">Activite</a>
      <a class="mr-5 hover:text-gray-900" routerLinkActive="active" [routerLink]="['media']">Media</a>
      <a class="mr-5 hover:text-gray-900" routerLinkActive="active" [routerLink]="['reservation']">Reservation</a>
      <a class="mr-5 hover:text-gray-900" routerLinkActive="active" [routerLink]="['profile']" *ngIf="authService.isLoggedIn">Mon profile</a>
    </nav>
    <a *ngIf="!authService.isLoggedIn" [routerLink]="['/sign-in']" class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">
      Se connecter
    </a>
    <a *ngIf="authService.isLoggedIn" (click)="authService.doLogout()" class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">
      Se deconnecter
    </a>

  </div>
</header>
