<div class="w-full flex flex-col space-y-5">
  <p-toast></p-toast>
  <p-confirmDialog [style]="{width: '50vw'}" header="Confirmation" icon="pi pi-exclamation-triangle" rejectButtonStyleClass="p-button-outlined"></p-confirmDialog>

  <div class="flex flex-row-reverse justify-between m-5">
    <button type="button" (click)="show()" class="p-3 rounded-full border border-gray-200">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512">
        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M256 112v288m144-144H112"/>
      </svg>
    </button>
    <div class="flex flex-row space-x-3 px-4 py-2.5 rounded-xl text-sm text-gray-600 outline-none border border-gray-300 focus:border-cyan-300 transition">
      <small>Résultat par page : </small>
      <select class="" [(ngModel)]="itemsPerPage" id="itemsPerPage" name="itemsPerPage">
        <option>12</option>
        <option>36</option>
        <option>64</option>
      </select>
    </div>
  </div>


  <div *ngIf="!medias" class="w-full flex items-center justify-center">
    <p-progressSpinner></p-progressSpinner>
  </div>

  <p-galleria [value]="medias" [(visible)]="displayCustom" [(activeIndex)]="activeIndex" [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '850px'}" [numVisible]="7"
            [circular]="true" [fullScreen]="true" [showItemNavigators]="true" [showThumbnails]="false" [baseZIndex]="100000">
    <ng-template pTemplate="item" let-item>
      <img [src]="item.path" style="width: 100%; display: block;"/>
    </ng-template>
    <ng-template pTemplate="thumbnail" let-item>
      <div class="grid grid-nogutter justify-content-center">
        <img [src]="item.path" style="display: block;"/>
      </div>
    </ng-template>
  </p-galleria>

  <div *ngIf="medias" class="m-5 grid grid-cols-4 gap-4" >
    <div *ngFor="let media of medias | filter : navigationService.currentSearchText : 'name' | paginate: {
                                                      itemsPerPage: itemsPerPage,
                                                      currentPage: p,
                                                      totalItems: medias.length }
                                                       ; let index = index; " >
      <img [src]="media.path" [alt]="media.name" class="cursor-pointer" (click)="imageClick(index)"/>
      <span>
        <button (click)="confirmDelete(media)" class="hover:text-red-600">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="h-6 w-6"
                  x-tooltip="tooltip"
                >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
              />
            </svg>
              </button>
      </span>
    </div>
  </div>


  <div class=" flex justify-center items-center">
    <pagination-controls (pageChange)="p = $event" previousLabel="Precedent" nextLabel="Suivant"></pagination-controls>
  </div>

</div>

