<section class="flex flex-col w-full items-center justify-center">
  <img *ngIf="media.path" [src]="media.path=== 'null'?'assets/inno-tour.jpeg':media.path" [alt]="media.name" class="h-64 my-5">

  <form (ngSubmit)="onSubmit()" [formGroup]="mediaForm" class="w-1/2 flex flex-col items-center" enctype="multipart/form-data">
    <div class="w-full my-5 flex flex-col md:flex-row justify-between items-center">
      <span class="p-float-label">
        <p-dropdown class="w-full" id="dropdown" inputId="dropdown" [autoDisplayFirst]="false" [options]="sites" formControlName="site" optionLabel="name" [ngClass]="{'border-red-300 text-red-900 placeholder-red-500 focus:border-red-500':(site_id!.invalid && (site_id!.dirty || site_id!.touched))}"></p-dropdown>
        <label for="dropdown">Sites</label>
      </span>

      <div class=" field-checkbox">
        <p-checkbox formControlName="is_main" [binary]="true" label="image de couverture"></p-checkbox>
      </div>

      <span class="p-float-label">
        <p-dropdown class="w-full" id="dropdown_type" inputId="dropdown_type" [autoDisplayFirst]="false" [options]="[{name:'image'},{name:'video'}]" formControlName="type" optionLabel="name" [ngClass]="{'border-red-300 text-red-900 placeholder-red-500 focus:border-red-500':(type!.invalid && (type!.dirty || type!.touched))}"></p-dropdown>
        <label for="dropdown_type">Type</label>
      </span>
    </div>

    <div class="w-full">
      <label for="name" class="sr-only">Nom</label>
      <input formControlName="name" [ngClass]="{'border-red-300 text-red-900 placeholder-red-500 focus:border-red-500':(name!.invalid && (name!.dirty || name!.touched))}" id="name" name="name" type="text"  class="relative block w-full appearance-none  rounded border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" placeholder="name">
    </div>

    <app-upload (fileEmitter)="getFile($event)"></app-upload>

    <button [disabled]="!mediaForm.valid" type="submit" class="group relative my-5 flex w-1/2 justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
          <span class="absolute inset-y-0 left-0 flex items-center pl-3">
            <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
            </svg>
          </span>
      <span *ngIf="action==='add'">Ajouter</span>
    </button>
  </form>
</section>
